@tailwind base;
@tailwind components;

.button-trans:active {
  @apply bg-green-500
}


@tailwind utilities;

@font-face {
    font-family: "ostrich-sans";
    src: url(../fonts/ostrich-sans/OstrichSans-Medium.otf) format('opentype');
}

@font-face {
  font-family: "ostrich-sans-bold";
  src: url(../fonts/ostrich-sans/OstrichSans-Black.otf) format('opentype');
}

@font-face {
  font-family: "great-vibes";
  src: url(../fonts/great-vibes/GreatVibes-Regular.otf) format('opentype');
}

@font-face {
  font-family: "grand-hotel";
  src: url(../fonts/grand-hotel/GrandHotel-Regular.otf) format('opentype');
}

@font-face {
  font-family: "amatic";
  src: url(../fonts/amatic/Amatic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "titillium";
  src: url(../fonts/titillium/Titillium-Regular.otf) format('opentype');
}

@font-face {
  font-family: "sofia";
  src: url(../fonts/sofia/Sofia-Regular.otf) format('opentype');
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.noah {
    color: red;
    background-color: green;
    border: 1px solid brown;
    padding: 50px;
    margin: 30px;
    display: inline;
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.light {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 1000px;
  }

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas: "Header Header" "Nav Content";
  }

.Header {
    grid-area: Header; 
    font-family: "ostrich-sans-bold", sans-serif;
    font-size: 90px;
  }


.Nav { 
  grid-area: Nav; 
  font-size: 40px;
}

.font-amatic {
  font-family: "amatic", sans-serif;
}

.font-titillium {
  font-family: "titillium", sans-serif;
}

.font-sofia {
  font-family: "sofia", sans-serif;
}


.Content { 
  grid-area: Content; 
}