<head>
    <!--title of the tab-->
    <title>Noah Weiner</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <!--icon for the webpage-->
    <link rel="icon" type="image/x-icon" href="favicon.ico?">

    <!--my own CSS rules, in location css/home.css-->
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | prepend: site.baseurl }}">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    
    

    <!--import tailwind CSS thru CDN (like bootstrap) if not using tailwind CLI
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" /> -->

    <!--the built tailwind stylesheet-->
    <link href="{{ '/assets/css/output.css' | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
    <link href="{{ '/assets/css/index.css' | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
    
    <!--nowidth means elements take up as much space as they need-->
    <style>
      
    </style>
</head>