<!--navigation panel-->
<div class="Nav bg-gray-900 flex flex-col">
    <!--work button-->
    <div class="p-3 font-titillium text-4xl text-center">
      <div class="nav-button group px-1 pt-3 pb-1 rounded-md text-white uppercase bg-blue-600">
        <a href="{{ '/pages/work.html' | prepend: site.baseurl }}">Work</a>
      </div>
    </div>

    <!--play button-->
    <div class="p-3 font-amatic text-5xl text-center">
      <div class="nav-button group px-1 pb-2 rounded-md text-white uppercase bg-blue-600">
        <a href="{{ '/pages/play.html' | prepend: site.baseurl }}">Play</a>
      </div>
    </div>

    <!--line button-->
    <div class="p-3 font-sofia text-center text-4xl">
      <div class="nav-button group px-1 pt-3 pb-1 rounded-md text-white uppercase bg-blue-600">
        <a href="{{ '/pages/line.html' | prepend: site.baseurl }}">Line</a>
      </div>
    </div>

    <!--blogs button-->
    <div class="p-3 font-mono text-center text-4xl">
      <div class="nav-button group px-1 pt-3 pb-1 rounded-md text-white uppercase bg-blue-600">
        <a href="{{ '/pages/blogs.html' | prepend: site.baseurl }}">Blogs</a>
      </div>
    </div>
</div>