<!DOCTYPE html>
<html lang="en">
  
    {%- include head.html -%}

  <body>
    <main>
    <!--the basic grid of the page (takes up whole page)-->
    <div class="grid-container">
      
        {%- include header.html home=page.home-%}

        {%- include nav.html -%}

        <!--main content window of the page-->
        <div class="Content bg-pink-900 p-14 text-2xl">
            {{ content }}
        </div>

        <footer class="select-none text-yellow-200">
            Site developed and maintained by <a id="nweiner" class="text-green-900" href="https://serviceberry3.github.io/">Noah Weiner.</a> 
            <a id="source" class="text-blue-900" href="https://github.com/serviceberry3/bob_come_home">Source.</a>
        </footer>
    </div>

    </main>
  </body>
  <script src="{{ '/assets/js/home.js' | prepend: site.baseurl }}"></script>
</html>
